.bg-black {
    background-color: #000 !important;
  }

  .footer-link {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

  .footer-link:hover {
    text-decoration: underline;
    color: #f81010 !important; /* Golden hover effect */
  }

  .social-icon {
    color: white;
    font-size: 1.5rem;
    margin-right: 15px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .social-icon:hover {
    color: #f81010; /* Golden hover effect */
    transform: scale(1.1);
  }

  footer .border-top {
    border-color: rgba(255, 255, 255, 0.2) !important;
  }
